.conteudo {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.background {
    margin-top: 4rem;
    height: 80vh;
    position: absolute;
    left: -15%;
    filter: opacity(0.3);
}

.info {
    width: 60%;
    margin-right: 3rem;
    margin-top: 2rem;
    color: white;
}

input {
    border: 1px solid #999999;
    border-radius: 22px;
    min-width: 250px;
    width: 80%;
    margin-right: 12px;
    background: transparent;
    font-size: 18px;
    color: whitesmoke;
    padding: 10px;
}

button {
    border: 1px solid #999999;
    border-radius: 22px;
    margin-right: 12px;
    background: #2d333b;
    font-size: 18px;
    color: whitesmoke;
    padding: 10px;
    padding-left: 32px;
    padding-right: 32px;
    cursor: pointer;
}

.perfil {
    display: flex;
    flex-direction: row;
    margin: 40px 0;
}

.profile {
    width: 128px;
    height: 128px;
    border-radius: 64px;
    border: 1px solid whitesmoke;
    margin-right: 32px;
}

.perfil h3 {
    margin: 0;
    font-size: 24px;
    color: #999999;
}

.perfil span {
    display: block;
    margin: 0;
    font-size: 24px;
    color: #999999;
}

.perfil p {
    font-size: 14px;
    color: #999999;
    margin: 20px 0 0 0;
}

.repositorio {
    font-size: 32px;
    color: white;
    margin: 12px 0;
    text-align: center;
}